---
title: ICAPS 2022 Workshop on Scheduling and Planning Applications woRKshop (SPARK)
layout: page
---
<div class="container">
  <div class="row">
    <div class="3u 12u(mobile) important(mobile)">
      <section>
        <header>
          <h3 class="top">Dates </h3>
        </header>
        <ul class="check-list">
          <li><strong>Thursday 7 April, 2022</strong> - Submissions Due</li>
          <li><strong>Thursday 12 May, 2022</strong> - Notification</li>
          <li><strong>Thursday 26 May, 2022</strong> - Camera-ready Due</li>
          <li><strong>7-12 June, 2022</strong> - Workshop Date</li>
        </ul>
      </section>
      {% include workshops.html %}
    </div>
  <div class="9u 12u(mobile)">
    <section>
      <header>
        <h1 class="top">SPARK</h1>
        <h2>2022 Workshop on Scheduling and Planning Applications woRKshop</h2>
        <p>
										An ICAPS'2022 Workshop<br/>
										Singapore, Republic of Singapore<br/>
										7-12 June 2022
        </p>
      </header>
<p>
This workshop series aims to provide a stable forum on relevant topics
connected to application-focused research and the deployment of P&S
systems. The immediate legacy began in 2007 with the ICAPS'07 Workshop
on `Moving Planning and Scheduling Systems into the Real World’, and
continued in 2008-2020 with successful yearly editions. 2022 is the
15th edition of SPARK.

The websites of the previous editions of SPARK are available at
<a href="http://decsai.ugr.es/~lcv/SPARK">http://decsai.ugr.es/~lcv/SPARK</a>. These
workshops presented a stimulating environment where researchers could
discuss the opportunity and challenges in moving P&S developments into
practice, and analyze domains and problem instances under study for,
or closely inspired by, real industrial/commercial deployment of P&S
techniques.

The challenges and discussions that emerged in the last years'
editions set the baseline for this year's SPARK workshop. A goal of
the workshop series is the definition of a longer term set of
challenges that could be of benefit for the research community as well
as practitioners. SPARK is the ideal incubator to test, discuss,
mature and improve potential papers for that main track with the
feedback of an excellent audience, and a great place for the inception
of new applications and challenges.

Authors of accepted papers will be encouraged to share their domains
and instances, or parts of them, towards a library of practical
benchmarking problems that could also be useful for the community.

Accepted papers will be presented in plenary or poster sessions during
the workshop. Each presented paper will receive comments from a
designated moderator, in order to start the discussion at the
workshop.
</p>

<h3>Topics</h3>
<p>
Starting from the results of the previous editions, SPARK-2022 will deepen the debate on application-relevant aspects of P&S theory and practice, with the aim of reporting and discussing experiences relating to deploying P&S systems.
</p>
<p>
		Topics of the workshop include, but are not limited to:
		<ul>
				<li>Novel domains and benchmark or challenge problems</li>
				<li>Experiences in deploying P&S systems, from their conception to their maturity in practice</li>
				<li>Comparison with previously existing technologies and/or systems</li>
				<li>Integration of operational knowledge from existing legacy components</li>
				<li>Integration of multiple sources of knowledge and reasoning schemes (actions, time, resources)</li>
				<li>Modeling and domain model acquisition</li>
				<li>Handling dynamic and uncertain sources of knowledge</li>
				<li>Algorithmic and technological issues</li>
				<li>Plan execution and replanning</li>
				<li>Mixed initiative approaches</li>
				<li>User interface design, visualization and explanation</li>
				<li>Machine learning methodologies applied to P&S systems</li>
				<li>Engineering, deployment, and maintenance</li>
				<li>Evaluation, testing, and validation</li>
				<li>Assessment of impact on end users</li>
		</ul>
</p>

<h3>Important Dates</h3>

<ul>
		<li><b>Paper submission</b>: Thursday 7 April, 2022</li>
		<li><b>Notification of acceptance/rejection</b>: Thursday 12 May, 2022</li>
		<li><b>Camera-ready paper submissions</b>: Thursday 26 May, 2022</li>
		<li><b>Workshop date</b>: 7-12 June, 2022</li>
</ul>

<h3>Submission Information</h3>
<p>
Submissions may be regular papers (up to 8 pages plus references) or
short position papers (up to 2 pages, including references). All
papers should conform to the <a href="https://www.aaai.org/Publications/Templates/AuthorKit20.zip">AAAI formatting guidelines and style</a>
(except the AAAI copyright notice can be removed). Submissions will be
reviewed by at least three referees. SPARK-2022 will be double blind
and submissions must be anonymous and not contain author information.
</p>
<p>
Submissions, in PDF format, must be submitted via the EasyChair site:
<a href="https://easychair.org/conferences/?conf=spark2022">https://easychair.org/conferences/?conf=spark2022</a>
</p>
<p>
		The site is open for submission
</p>

<h3>Proceedings and Special Issue</h3>
<p>SPARK-2022 proceedings will be published in the <a href="http://ceur-ws.org">CEUR-WS</a> Workshop Proceedings series. We are also investigating the possibility of a special issue of an international journal.
</p>

<h3>Diversity</h3>
<p>
		The SPARK workshop has a positive history of diversity within the organising committee, programme committee and attendees, including individuals of different gender, race, nationality, and at different stages in their career. However, to ensure SPARK remains and progresses to being more diverse, part of the organiser's responsibility this year will be to ensure that SPARK has:
		<ul>
				<li>A programme committee that has true diversity, consisting of an equal split of gender and inclusion of under-represented gender identifications, where possible and without positive discrimination. A maximum of three reviewers from any country. This will be done based on the country of their main residing organisation. Of the three, there must only be one member for the career stages of: Early, Established, Leading.</li>
				<li>Papers are reviewed double-blind in an attempt to ensure all submitted papers are fairly reviewed and unconscious bias is minimised.</li>
				<li>Presentations by accepted papers will be prioritised and balanced throughout the sessions to ensure diversity is throughout SPARK sessions.</li>
				<li>Diversity information will be collected on submitted papers, accepted papers, programme committee, and attendees. We will ensure consent is granted before information is collected and anonymised. We plan to publish abstract statistics as part of the SPARK proceedings to ensure transparency and as comparative future measure.</li>
</p>

<h3>Organising Committee</h3>
<ul>
  <li><b>Riccardo De Benedictis</b>, National Research Council of Italy, IT</li>
  <li><b>Simon Parkinson</b>, University of Huddersfield, UK</li>
  <li><b>Marco Roveri</b>, University of Trento, IT</li>
  <li><b>Sabine Storandt</b>, Universität Konstanz, DE</li>
</ul>

<!-- <h3>Schedule</h3> -->
<!-- {% include workshop-schedule.html content="keps-plan" %} -->

<!-- <h3>Accepted Papers</h3> -->
<!-- Masataro Asai and Alex Fukunaga <br> -->
<!-- Classical Planning in Latent Space: From Unlabeled Images to PDDL (and back) <br> -->
<!-- <br> -->
<!-- Roman Barták and Adrien Maillard  <br> -->
<!-- Attribute Grammars with Set Attributes and Global Constraints as a Unifying Framework for Planning Domain Models  <br> -->
<!-- <br> -->
<!-- Lydia Manikonda, Shirin Sohrabi, Kartik Talamadupula Biplav Srivastava and Subbarao Kambhampati  <br> -->
<!-- Extracting Incomplete Planning Action Models from Unstructured Social Media Data to Support Decision Making <br> -->
<!-- <br> -->
<!-- Thomas Hayton, Julie Porteous, Joao Ferreira, Alan Lindsay and Jonathon Read<br> -->
<!-- StoryFramer: From Input Stories to Output Planning Models<br> -->
<!-- <br> -->
<!-- Simone Fratini, Tiago Nogueira and Nicola Policella<br> -->
<!-- Integrating Modeling and Knowledge Representation for Combined Task, Resource and Path Planning in Robotics <br> -->
<!-- <br> -->
<!-- Shirin Sohrabi, Anton Riabov and Octavian Udrea <br> -->
<!-- Planning-based Scenario Generation for Enterprise Risk Management <br> -->
<!-- <br> -->
<!-- Maurício Cecílio Magnaguagno and Felipe Meneguzzi<br> -->
<!-- Method Composition through Operator Pattern Identification<br> -->
<!-- <br> -->
<!-- Peter Gregory, Alan Lindsay and Julie Porteous<br> -->
<!-- Domain Model Acquisition with Missing Information and Noisy Data<br> -->
<!-- <br> -->
<!-- Richard Freedman and Shlomo Zilberstein<br> -->
<!-- A PDDL Representation for Contradance Composition<br> -->
<!-- <br> -->

<!-- <h1>Proceedings</h1> -->
<!-- The proceedings for this workshop as a <a href="/workshops/KEPS/proceedingsKEPS.pdf">PDF</a>. -->

    </section>
  </div>
</div>
