<h3>Author Guidelines</h3>

<p>Authors may submit long papers (8 pages AAAI style plus up to one page of references) or short papers (4
    pages plus up to one page of references). The type of paper must be indicated at submission time. All papers,
    regardless of length, will be reviewed against the standard criteria of relevance, originality, significance,
    clarity, soundness, and are expected to meet the same high standards set by ICAPS. Short papers may be of
    narrower scope, for example by addressing a highly specific issue, or proposing or evaluating a small, yet
    important, extension of previous work or new idea. Overlength papers will be rejected without review.</p>

<p>Authors making multiple submissions must ensure that each submission has significant unique content. Papers
    submitted to ICAPS 2022 may not be submitted to other conferences or journals during the ICAPS 2022 review
    period nor may they be already under review, accepted, or published in other conferences or journals. AAAI
    decisions will be available two weeks before the ICAPS paper submission deadline. This year, the time gap
    between submissions to major AI conferences is tighter than usual. We had hoped to be able to both accept
    submissions of papers rejected from AAAI and enable authors to submit papers rejected from ICAPS to IJCAI
    2022.
    However, the timeline is simply too tight for us to do this and maintain the quality of the ICAPS reviewing
    process. So while rejected papers from AAAI will have decisions early enough to permit revision and
    resubmission
    to ICAPS, we are unable to complete our reviews in time for papers to be resubmitted to IJCAI. Specifically,
    as
    the ICAPS 2022 notification date is after IJCAI 2022 full paper submission dates, ICAPS authors will not be
    allowed to resubmit their papers to IJCAI while they are under review at ICAPS, because of single submission
    requirements of both conferences.</p>

<h4>Ethical/Societal Impact</h4>
<p>It is optional for authors to include a statement of the potential broader impact of their work, including its
    ethical aspects and future societal consequences. This statement can be included in either the main body pages or
    the reference page. If such a statement is not included in the paper but the reviewers deem that such a statement is
    necessary, then the authors will be asked to provide one during the author response period for review. If the paper
    is accepted, the statement provided will need to be incorporated in the camera-ready version.</p>