<header id="header" class="container">
	<div class="row">
		<div class="3u 12u(mobile)">
			<a href="/" id="logo"><img src="/images/icapslogo.png" alt="ICAPS 2022 - Singapore" id="icaps-logo" /></a>
		</div>
		<div class="9u 12u(mobile)">
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>

					<li><a href="/cfp">Calls</a>
						<ul>
							<li><a class="sub-menu-" href="/journal-cfp">Journal</a></li>
							<li><a class="sub-menu-" href="/demo-cfp">Call for Demos</a></li>
							<li><a class="sub-menu-" href="/sponsor-cfp">Call for Sponsorship</a></li>

							<li><a class="sub-menu-" href="/cfp">Main Track</a></li>
							<li><a class="sub-menu-" href="/tut-cfp">Call for Tutorials</a></li>
							<li><a class="sub-menu-" href="/ws-cfp">Call for Workshops</a></li>
							<li><a class="sub-menu-" href="/industry-and-applications-track">Industry and
								Applications</a></li>
							<li><a class="sub-menu-" href="/human-aware-planning-and-scheduling-track">Human-Aware
								Planning and Scheduling</a></li>
							<li><a class="sub-menu-" href="/learning-track">Planning and Learning</a></li>

						</ul>
					</li>

					<li><a href="">Program</a>
						<ul>

							<li><a class="sub-menu-" href="/papers">Papers</a></li>
							<li><a class="sub-menu-" href="/workshops">Workshops</a></li>
							<li><a class="sub-menu-" href="/dc-2022">Doctoral Consortium</a></li>
							<!-- <li><a class="sub-menu-" href="/tutorials">Tutorials</a></li> -->

							<!-- <li><a class="sub-menu-" href="/schedule.html">Schedule</a></li> -->
							<!-- <li><a class="sub-menu-" href="/awards.html">Awards</a></li> -->
							<!-- <li><a class="sub-menu-" href="/demos/">Demos</a></li> -->

						</ul>
					</li -->

					<!-- <li> <a href="/workshops/">Workshops</a>
						<ul>
							{% for workshop in site.data.workshops %}
							{% if workshop.ready %}
							<li>
								{% if workshop.url %}
								<a class="sub-menu-" href="{{ workshop.url }}">{{ workshop.nick }}</a>
								{% else %}
								<a class="sub-menu-" href="/workshops/{{ workshop.nick }}/">{{ workshop.nick }}</a>
								{% endif %}
							</li>
							{% endif %}
							{% endfor %}
						</ul>
					</li> -->

					<!--li><a href="/tutorials/">Tutorials</a>
					</li-->

					<li><a href="/registration">Registration</a></li>
					<!--li><a href="/venue.html">Attending</a>
						<ul>
        					<li><a class="sub-menu-" href="map.html">Map</a></li>
		    				<li><a class="sub-menu-" href="directions.html">Getting Here</a></li>
							<li><a class="sub-menu-" href="/venue.html">Venue</a></li>
							<li><a class="sub-menu-" href="https://starrez.housing.cmu.edu/StarRezPortalConference/go/Conferences/ICAPS2017">Registration</a></li>
							<li><a class="sub-menu-" href="/accommodation.html">Accommodation</a></li>
							<li><a class="sub-menu-" href="/telepresence.html">Telepresence</a></li>
							<li><a class="sub-menu-" href="/biking.html">Optional Biking</a></li>
						</ul>
					</li-->

					<li><a href="">Committees</a>
						<ul>
							<li><a class="sub-menu-" href="/committee">Organizing Committee</a></li>
							<li><a class="sub-menu-" href="/programcommittee">Program Committee</a></li>
						</ul>
					</li>


				</ul>
			</nav>
		</div>
	</div>
</header>
