---
title: ICAPS 2022 Call for Papers
layout: page
permalink: cfp
---
<div class="container">
  <div class="row">
    <div class="3u 12u(mobile) important(mobile)">
      <section>
        <header>
          <h3 class="top">Important Dates</h3>
        </header>
        <ul class="check-list">
          <li><strong>10 Dec, 2021</strong> - Abstracts Due</li>
          <li><strong>15 Dec, 2021</strong> - Submissions Due</li>
          <li><strong>25-28 Jan, 2022</strong> - Author Feedback</li>
          <li><strong>18 Feb, 2022</strong> - Notification</li>
        </ul>
      </section>
      <!-- {% include tracks.html %} -->
    </div>
    <div class="9u 12u(mobile)">
      <section id="cfp-content">
        <header>
          <div class="row">
            <div class="9u 12u(mobile)">
              <h1 class="top">ICAPS 2022 Call for Papers </h1>

              <h2>The 32nd International Conference on Automated Planning and Scheduling</h2>
              <h2>June 19-24, 2022, Singapore Management University, Singapore.</h2>
            </div>
            <div class="3u 12u(mobile)">
              <!--a class="button float-right-button" href="ICAPS2017cfp.pdf">PDF Version</a-->
              <a class="button float-right-button"
                href="https://www.easychair.org/conferences/?conf=icaps2022">Submit</a>
            </div>

          </div>
        </header>

        <p>Website: <a href="http://icaps22.icaps-conference.org/">icaps22.icaps-conference.org</a>.<br>
          For inquiries contact: <a href="mailto:ICAPS2022@easychair.org" target="_top">ICAPS2022@easychair.org</a>.</p>

        <table>
          <tbody>
            <tr>
              <td><strong>Submissions due</strong></td>
              <td>December 10, 2021 (abstracts)</td>
            </tr>
            <tr>
              <td></td>
              <td>December 15, 2021 (papers)</td>
            </tr>
            <tr>
              <td><strong>Discussion</strong></td>
              <td>January 25-28, 2022</td>
            </tr>
            <tr>
              <td><strong>Notification</strong></td>
              <td>February 18, 2022</td>
            </tr>
          </tbody>
        </table>

        <br>

        <p>ICAPS 2022, the 32nd International Conference on Automated Planning and Scheduling, will take place in
          Singapore, June 19-24, 2022. ICAPS 2022 will be part of the ICAPS conference series, the premier forum for
          exchanging news and research results on theory and applications of intelligent planning and scheduling
          technology. It is as yet too early to determine whether ICAPS 2022 will have the traditional structure or will
          have to be taken partly, or wholly, online. We will keep the community informed as we monitor the pandemic
          situation. Nevertheless, ICAPS 2022 will take place in some format.</p>

        <p>ICAPS 2022 will feature 5 different tracks:</p>

        <ul>
          <li>Main Track</li>
          <li>Journal Presentations Track</li>
          <li>Industry and Applications Track</li>
          <li>Planning and Learning Track</li>
          <li>Human-Aware Planning and Scheduling Track</li>
        </ul>



        <p>Additionally, the ICAPS program will include demonstrations, workshops, and tutorials, each having separate
          submission and notification dates, to be announced separately.</p>

        <p>The ICAPS 2022 program committee invites paper submissions related to automated planning and scheduling.
          Relevant contributions include, but are not limited to:</p>
        <ul>
          <li>Theoretical foundations of planning and scheduling</li>
          <li>Classical planning techniques and analysis</li>
          <li>Knowledge representation for planning and scheduling</li>
          <li>Planning with time and resources</li>
          <li>Plan and schedule execution, monitoring, and repair</li>
          <li>Continual, on-line, and real-time planning and scheduling</li>
          <li>Plan recognition, plan management, and goal reasoning</li>
          <li>Uncertainty and stochasticity in planning and scheduling</li>
          <li>Partially observable and unobservable domains</li>
          <li>Conformant, contingent, and adversarial planning</li>
          <li>Multi-agent and distributed planning</li>
          <li>Planning and scheduling with continuous state and action spaces</li>
          <li>Planning and scheduling with mixed continuous and discrete states/actions/decisions</li>
          <li>Robot planning and scheduling</li>
          <li>Knowledge acquisition and engineering for planning and scheduling</li>
          <li>Applications and case studies of planning and scheduling techniques (see also special track)</li>
          <li>Learning for planning and scheduling (see also special track)</li>
          <li>Human-aware planning and scheduling (see also special track)</li>
        </ul>

        <h3>Important Dates</h3>

        <p>We have arranged our schedule to permit revision and resubmission of papers rejected from AAAI 2022.</p>

        <ul>
          <li><strong>December 10, 2021</strong> - Abstracts due (electronic submission)</li>
          <li><strong>December 15, 2021</strong> - Full Papers due (electronic submission, PDF)</li>
          <li><strong>January 25-28, 2022</strong> - Author feedback period</li>
          <li><strong>February 18, 2022</strong> - Notification of acceptance or rejection</li>
        </ul>

        <p>The reference timezone for all deadlines is UTC-12. That is, as long as there is still some place anywhere in
          the world where the deadline has not yet passed, you are on time!</p>

        {% include author-guidelines.html %}

        <h3>Submission Instructions</h3>

        <p>All submissions will be made electronically, through the EasyChair conference system:
          <a
            href="https://www.easychair.org/conferences/?conf=icaps2022">https://www.easychair.org/conferences/?conf=icaps2022</a>
        </p>


        <p>Submitted PDF papers should be anonymous for double-blind reviewing, adhere to the page limits of the
          relevant
          track CFP/submission type (long or short), and follow the AAAI author kit instructions for formatting:</p>

        <p><a
            href="https://www.aaai.org/Publications/Templates/AuthorKit22.zip">https://www.aaai.org/Publications/Templates/AuthorKit22.zip</a>
        </p>

        <p>In addition to the submitted PDF paper, authors can submit supplementary material (videos, technical proofs,
          additional experimental results) for their paper. Please make sure that the supporting material is also
          anonymized. Papers should be self-contained; reviewers are encouraged, but not obligated, to consider
          supporting
          material in their decisions.</p>

        <p>Please direct all questions to <a href="mailto:ICAPS2022@easychair.org"
            target="_top">ICAPS2022@easychair.org</a>.
        </p>

        <p>Sylvie Thiebaux, William Yeoh</p>

      </section>
    </div>
  </div>
</div>