---
title: ICAPS 2022 Call for Papers - Industry and Applications Track
layout: page
permalink: industry-and-applications-track
---
<div class="container">
  <div class="row">
    <div class="3u 12u(mobile) important(mobile)">
      <section>
        <header>
          <h3 class="top">Important Dates</h3>
        </header>
        <ul class="check-list">
          <li><strong>10 Dec, 2021</strong> - Abstracts Due</li>
          <li><strong>15 Dec, 2021</strong> - Submissions Due</li>
          <li><strong>25-28 Jan, 2022</strong> - Author Feedback</li>
          <li><strong>18 Feb, 2022</strong> - Notification</li>
        </ul>
      </section>
      <!-- {% include tracks.html %} -->
    </div>
    <div class="9u 12u(mobile)">
      <section id="cfp-content">
        <header>
          <div class="row">
            <div class="9u 12u(mobile)">
              <h1 class="top">ICAPS 2022 Call for Papers: Industry and Applications Track</h1>

              <h2>The 32nd International Conference on Automated Planning and Scheduling</h2>
              <h2>June 19-24, 2022, Singapore Management University, Singapore.</h2>
            </div>
            <div class="3u 12u(mobile)">
              <!--a class="button float-right-button" href="ICAPS2017cfp.pdf">PDF Version</a-->
              <a class="button float-right-button"
                href="https://www.easychair.org/conferences/?conf=icaps2022">Submit</a>
            </div>

          </div>
        </header>

        <p>Website: <a href="http://icaps22.icaps-conference.org/">icaps22.icaps-conference.org</a>.<br>
          For inquiries contact: <a href="mailto:ICAPS2022@easychair.org" target="_top">ICAPS2022@easychair.org</a>.</p>

        <table>
          <tbody>
            <tr>
              <td><strong>Submissions due</strong></td>
              <td>December 10, 2021 (abstracts)</td>
            </tr>
            <tr>
              <td></td>
              <td>December 15, 2021 (papers)</td>
            </tr>
            <tr>
              <td><strong>Discussion</strong></td>
              <td>January 25-28, 2022</td>
            </tr>
            <tr>
              <td><strong>Notification</strong></td>
              <td>February 18, 2022</td>
            </tr>
          </tbody>
        </table>

        <br>

        <p>ICAPS is the premier forum for exchanging news and research results on theory and applications of intelligent
          planning and scheduling technology. ICAPS 2022, the 32nd International Conference on Automated Planning and
          Scheduling, will host an Industry and Applications Track (formerly known as Novel Applications Track).</p>

        <p>The goal of this track is to bring together planning and scheduling practitioners, industry stakeholders and
          academic communities for exchanging all aspects of the development, deployment, and evaluation of planning and
          scheduling systems for societal or industrial problems. We aim to bring scientific results from planning and
          scheduling to practice, but also aim to identify scientific challenges by analyzing the limitations of current
          results to tackle real-world problems. We sollicite submissions and participation from the industry as well as
          from academics working on applications.</p>

        <h3>Topics</h3>

        <p>Topics addressed in applications papers may include, but are not limited to:</p>

        <ul>

          <li>Description and modelling of novel application domains</li>
          <li>Engineering issues in using planning and scheduling techniques</li>
          <li>Integration of multiple planning and scheduling techniques, or of planning and scheduling techniques with
            techniques from other areas or disciplines</li>
          <li>Integration of planning and scheduling functions with other functions of an industrial system/process</li>
          <li>User interface design, visualization, and explanation for a planning and scheduling application</li>
          <li>Experiences in development, deployment, and maintenance of planning and scheduling applications</li>
          <li>Evaluation, testing, and validation of planning and scheduling applications in societal or industrial
            environments</li>
          <li>Assessment of impact on end users / customers / markets</li>
          <li>Industry / application challenge problems (including benchmark instances)</li>

        </ul>

        <h3>Criteria</h3>

        <p>This track has a separate program committee consisting of individuals with experience working on applications
          of planning and scheduling technology to societal or industrial problems. Papers submitted to this track will
          be evaluated using different criteria, particularly:</p>

        <ul>

          <li>Significance of the application problem being addressed</li>
          <li>Importance of planning and scheduling technology to the solution of the problem</li>
          <li>Novelty of the application and technical approach to the application</li>
          <li>Evaluation of the system and its deployment</li>
          <li>Clarity of the descriptions of the application problem, techniques used, and results</li>
          <li>Applicability to real-world problems such as by dataset complexity and actual use in practice</li>
        </ul>
        <p>Accepted full papers will be published as part of the conference proceedings of ICAPS 2022.</p>

        <h3>Industry Abstracts</h3>

        <p>ICAPS 2022 will also consider one/two-page abstracts describing work on relevant breakthrough planning or
          scheduling problems faced by industry. These won't be published in the proceedings but authors of selected
          abstracts will be invited to present their work at ICAPS 2022. To be eligible, the lead author of the abstract
          must be from industry.</p>


        <h3>Important Dates</h3>

        <p>We have arranged our schedule to permit revision and resubmission of papers rejected from AAAI 2022.</p>

        <ul>
          <li><strong>December 10, 2021</strong> - Abstracts due (electronic submission)</li>
          <li><strong>December 15, 2021</strong> - Full Papers due (electronic submission, PDF)</li>
          <li><strong>January 25-28, 2022</strong> - Author feedback period</li>
          <li><strong>February 18, 2022</strong> - Notification of acceptance or rejection</li>
        </ul>

        <p>The reference timezone for all deadlines is UTC-12. That is, as long as there is still some place anywhere in
          the world where the deadline has not yet passed, you are on time!</p>

        {% include author-guidelines.html %}

        <h3>Submission Instructions</h3>

        <p>All submissions will be made electronically, through the EasyChair conference system:
          <a
            href="https://www.easychair.org/conferences/?conf=icaps2022">https://www.easychair.org/conferences/?conf=icaps2022</a>
        </p>


        <p>Submitted PDF papers should be anonymous for double-blind reviewing, adhere to the page limits of the
          relevant
          track CFP/submission type (long or short), and follow the AAAI author kit instructions for formatting:</p>

        <p><a
            href="https://www.aaai.org/Publications/Templates/AuthorKit22.zip">https://www.aaai.org/Publications/Templates/AuthorKit22.zip</a>
        </p>

        <p>In addition to the submitted PDF paper, authors can submit supplementary material (videos, technical proofs,
          additional experimental results) for their paper. Please make sure that the supporting material is also
          anonymized. Papers should be self-contained; reviewers are encouraged, but not obligated, to consider
          supporting
          material in their decisions.</p>

        <p>Please direct all questions to <a href="mailto:ICAPS2022@easychair.org"
            target="_top">ICAPS2022@easychair.org</a>.
        </p>

        <h3>Track Chairs</h3>
        <ul>
          <li>Florent Teichteil-Koenigsbuch, Data Science Senior Scientist in Airbus Central Research and Technology
          </li>
          <li>Mathijs de Weerdt, Associate Professor at Delft University of Technology, Chair of the Algorithmics Group
          </li>
        </ul>

      </section>
    </div>
  </div>
</div>